<!DOCTYPE html>
<html>
<head>
    <title>Some Website</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>We'll be right back</h1>
    <p>
      This site is currently being updated...
    </p>
</body>
</html>